.otherActionsBtn
{
    background-color: transparent;
    border-width: .15rem;
    border-radius: 4px;
    border-style: solid;
    border-color: var(--color2);
    font-family: semiCoder;
    font-size: .7rem;
    color: var(--color4);
    padding: .4rem .5rem;
    margin: .5rem 1.2rem;
    transition: .4s;
}

.otherActionsBtn:hover
{
    background-color: var(--backgroundColorGlass);
    transition: .4s;
    cursor: pointer;
}