.col-0-1{
    position: absolute;
    left:0;
    width:25%;
}

.col-0-2{
    position: absolute;
    left:0;
    width:50%;
}

.col-0-3{
    position: absolute;
    left:0;
    width:75%;
}

.col-0-4{
    position: absolute;
    left:0;
    width:100%;
}

.col-2-4{
    position: absolute;
    left:50%;
    width:50%;
}