.header
{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding-left: 25vw;
    left: 0;
    top: 0;
    z-index: 1;
    height: 3.5em;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    opacity: .5;
    border-bottom: .1rem solid var(--color2);
    transition: .4s;
}

.header:hover
{
    opacity: 1;
    transition: .4s;
}

.header p
{
    font-family: semiCoder;
    font-size: .7rem;
    font-weight: lighter;
    margin: 1rem 1rem;
    color: var(--color4);
}

.header p2
{
    font-family: semiCoder;
    font-size: .7rem;
    font-weight: lighter;
    margin: 0 -1rem 1rem 0;
    color: var(--color2);
}

.header p:hover
{
    transition: .4s;
    color: var(--color3);
    cursor: pointer;
}

.logo100
{
    position: fixed;
    left: 5rem;
    background-image: url("../img/logo100.png");
    width: 3vw;
    aspect-ratio: 1;
    background-repeat: round;
    margin: .6rem;
}