.aboutPanel
{
    position: flex;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: var(--backgroundColorMain);
    left: 0;
    margin-top: 0;
    padding-bottom: 1em;
    z-index: -1;
}

.expPanel
{
    position: flex;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: var(--color5);
    left: 0;
    margin-top: 0;
    padding-bottom: 1em;
    z-index: -1;
}

.workPanel
{
    position: flex;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: var(--backgroundColorMain);
    left: 0;
    margin-top: 0;
    padding-bottom: 1em;
    z-index: -1;
}

.contactPanel
{
    position: flex;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(fit-content + 4em);
    background-color: var(--color5);
    left: 0;
    margin-top: 0;
    padding-bottom: 1em;
    z-index: -1;
}

.infoPanel
{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100vh;
    left: 0;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.infoPanel h1
{
    font-family: vonique;
    text-align: center;
    color: var(--color3);
    font-size: 2.5rem;
    margin: 1rem 0 0 0;
    width: 100%;
    text-shadow: 0 4.2rem .4rem black;
}

.infoPanel .cardLeft
{
    font-family: semiCoder;
    font-size: 1rem;
    color: var(--color4);
    width: 25vw;
    height: auto;
    text-align: justify;
    margin: 12vh 0 0 12vw;
    top: 0;
    padding: 0;
}

.infoPanel .cardMiddle
{
    font-family: semiCoder;
    font-size: 1rem;
    color: var(--color4);
    width: 25vw;
    height: auto;
    text-align: justify;
    margin: 6vh 0 0 37vw;
    top: 0;
    padding: 0;
}

.infoPanel .cardRight
{
    font-family: semiCoder;
    font-size: 1rem;
    color: var(--color4);
    width: 25vw;
    height: auto;
    text-align: justify;
    margin: 6vh 0 0 62vw;
    top: 0;
    padding: 0;
}