a
{
    color: inherit;
    font: inherit;
    text-decoration: underline wavy 2px var(--color5);
}

a:visited
{
    color: inherit;
    font: inherit;
    text-decoration: wavy;
    text-decoration: underline wavy 2px var(--color5);
}

a:active
{
    color: inherit;
    font: inherit;
    text-decoration: wavy;
    text-decoration: underline wavy 2px var(--color3);
}