header::before {
    content: "•••";
}

header {
    padding: auto;
    font-size: 2em;
    color: white;
    position: fixed;
    right: 1em;
    top: 1em;
    transition: .4s;
}

header:hover .menuContent {
    width: var(--menuSize);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 1;
    transition: .4s;
    z-index: 999;
}

header:hover .menuButton {
    display: block;
    opacity: 1;
    animation: appear .4s;
}

header:hover {
    color: transparent;
    transition: .4s;
}

.menuContent {
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--bgcolor2);
    min-width: 0;
    height: 100%;
    box-shadow: -1vw 0 1px 100vw var(--bgtr2);
    z-index: 1;
    transition: .4s;
}

/*------------BUTTONS------------*/

.menuButton {
    display: none;
    width: 100%;
    padding: 0;
    margin: 0;
    border-width: 0 0 1px 0;
    font-family: franchise;
    color: white;
    font-size: 3rem;
    text-align: center;
    transition: .4s;
}

a.menuButton {
    padding-top: calc(5rem - 1ex);
    text-decoration: inherit;
}

.menuButton:nth-child(odd) {
    background-color: var(--color1-1);
}

.menuButton:nth-child(even) {
    background-color: var(--color1-2);
}

.menuButton:nth-child(odd):hover {
    background-color: var(--color2-1);
    color: var(--color1-2);
}

.menuButton:nth-child(even):hover {
    background-color: var(--color2-2);
    color: var(--color1-1);
}