:root {
    --color1-1: #079DD9;
    --color1-2: #04B2D9;
    --color2-1: #732222;
    --color2-2: #A6341B;
    --bgcolor1: #0D0D0D;
    --bgcolor2: #2F2F2F;/*change?*/
    --bgtr2:    #2f2f2f79;/*change?*/

    --coin1graph:     0;
    --coin2graph:     0;
    --coin3graph:     0;
    --coin4graph:     0;
    --coin5graph:     0;
    --coin6graph:     0;
    --coin7graph:     0;
    --coin8graph:     0;

    --coin1logo:    '';
    --coin2logo:    '';
    --coin3logo:    '';
    --coin4logo:    '';
    --coin5logo:    '';
    --coin6logo:    '';
    --coin7logo:    '';
    --coin8logo:    '';

    --coin1price:    '0';
    --coin2price:    '0';
    --coin3price:    '0';
    --coin4price:    '0';
    --coin5price:    '0';
    --coin6price:    '0';
    --coin7price:    '0';
    --coin8price:    '0';

    --coinAveragePrice: 0;
}

@media only screen and (max-width: 600px)
{
    :root
    {
        --menuSize: 50vw;
    }
}

@media only screen and (min-width: 601px)
{
    :root
    {
        --menuSize: 20vw;
    }
}

html {
    transition: .4s;
    scroll-behavior: smooth;
}

::selection
{
    background-color: var(--color2-2);
}

@font-face { font-family: monofonto; src: url("../fonts/monofonto.otf"); }
@font-face { font-family: future; src: url("../fonts/future.ttf"); }
@font-face { font-family: dealerplate; src: url("../fonts/dealerplate\ california.ttf"); }
@font-face { font-family: franchise; src: url("../fonts/Franchise.ttf"); }
@font-face { font-family: franchiseFilled; src: url("../fonts/FranchiseFilled.ttf"); }

body
{
    background-color: var(--bgcolor1);
}

.landPage
{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainTitle
{
    font-family: monofonto;
    color: var(--color1-1);
    font-size: 20vmin;
    margin-bottom: 0;
    text-decoration: underline .7rem var(--color2-2);
    animation: appear .4s;
    text-align: center;
}

.mainTitle:nth-child(2)
{
    margin: 0;
    animation: appear 1s;
}