.bgA1
{
    background-color: var(--color_A1);
}

.bgA2
{
    background-color: var(--color_A2);
}

.bgA3
{
    background-color: var(--color_A3);
}


.bgB1
{
    background-color: var(--color_B1);
}

.bgB2
{
    background-color: var(--color_B2);
}

.bgB3
{
    background-color: var(--color_B3);
}


.bgC1
{
    background-color: var(--color_C1);
}

.bgC2
{
    background-color: var(--color_C2);
}

.bgC3
{
    background-color: var(--color_C3);
}


.borderA1
{
    border-color: var(--color_A1);
}

.borderA2
{
    border-color: var(--color_A2);
}

.borderA3
{
    border-color: var(--color_A3);
}


.borderB1
{
    border-color: var(--color_B1);
}

.borderB2
{
    border-color: var(--color_C1);
}

.borderB3
{
    border-color: var(--color_B3);
}


.borderC1
{
    border-color: var(--color_C1);
}

.borderC2
{
    border-color: var(--color_C2);
}

.borderC3
{
    border-color: var(--color_C3);
}
