@keyframes appear
{
    0%
    {
        transform: translateX(20vw) scaleX(.5);
        opacity: 0;
    }

    90%
    {
        transform: translateX(20vw) scaleX(.5);
        opacity: 0;
    }

    100%
    {
        transform: translateX(0) scaleX(1);
        opacity: 1;
    }
}

@keyframes loading
{
    0%
    {
        width: 0%;
        color: transparent;
    }

    50%
    {
        width: 50%;
        color: transparent;
    }

    100%
    {
        width: 75%;
        color: var(--color1-1);
    }
}