---
import BlogShowcase from "../../components/BlogShowcase.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Blog">
    <h1>Blog Posts</h1>

    <BlogShowcase qty={-1} />
</BaseLayout>
