---
const title = "Giovani's Pages";
import BlogShowcase from "../components/BlogShowcase.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={title}>
	<main>
		<p>Welcome to</p>
		<h1>{title}</h1>
		<br />
		<p>My portfolio and blog.</p>

		<section>
			<nav>
				<ul>
					<li>
						<a href="https://github.com/dlgiovani" target="_blank"> GitHub </a>
					</li>
					<li>
						<a href="https://www.npmjs.com/~dlgiovani" target="_blank"> npm </a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/giovani-drosda-lima/" target="_blank"> LinkedIn </a>
					</li>
					<li>
						<a href="mailto://contatogiovanidl@gmail.com" target="_blank"> Gmail </a>
					</li>
					<li>
						<a href="https://medium.com/@gdrosdalima" target="_blank"> Medium </a>
					</li>
					<li>
						<a href="https://instagram.com/dlgiovani" target="_blank"> Instagram </a>
					</li>
				</ul>
			</nav>
		</section>

		<section>
			<BlogShowcase />
		</section>
	</main>
</BaseLayout>
