html[data-accent="blue"] {
  --accent: #0784b5;
  --accent-visited: #0560a0;
}
html[data-accent="red"] {
  --accent: #e11d48;
  --accent-visited: #be123c;
}
html[data-accent="green"] {
  --accent: #16a34a;
  --accent-visited: #15803d;
}
html[data-accent="purple"] {
  --accent: #7c3aed;
  --accent-visited: #6d28d9;
}
html[data-accent="dark"] {
  --accent: #f59e0b;
  --accent-visited: #d97706;
}
