* {
    /*firefox*/
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent; 
    overflow: -moz-scrollbars-none; 

    /* Internet Explorer and Edge */
    -ms-overflow-style: none;

  }

  /* * {cursor: none;} */

  /* WebKit-based browsers (Chrome, Safari) */
  *::-webkit-scrollbar {
    width: 0.2em;
  }
  
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  @keyframes slide{
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-3840px);
    }
  }

.cursor {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid white;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  backdrop-filter: blur(2px) hue-rotate(90deg);
}

.hover {
  background-color: rgba(52, 52, 52, 0.468);
  opacity: 0.5;
  width: 70px;
  height: 70px;
}

@keyframes roll-bg-image{
  0%, 100%  {background-position-y: 12%;}
  20%  {background-position: top;}
  25%  {background-position: top;}
  90% {background-position: bottom;}
}
.roll-bg-image {
  animation: roll-bg-image 10.5s ease-in-out infinite;
}